#countVal {
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10em;
    text-align: center;
}

#buttons {
    width: fit-content;
    margin: 0 auto;
}

.Button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 12px 24px;
    background-color: #2196F3;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Button:hover {
    background-color: #1976D2;
}